.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# Large datasets (NCBI taxonomy and PATRIC)
taxonomy_names.csv
genome_metadata.txt

# Manuscript files
doc/
analysis/
figs/
hug/
prepared_phylo/
output.txt
